{% extends 'ZerodineMakeSomeoneHappyBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <span class="glyphicon glyphicon-plus-sign"></span> <a href="{{ path('circle_add') }}">Add Circle</a>
    </div>
{% endblock %}