{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Make Someone Happy!</h1>
    <span class="glyphicon glyphicon-search"></span>
    <button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
        Loading state
    </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@ZerodineMakeSomeoneHappyBundle/Resources/public/js/main.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bootstrap/js/button.js') }}"></script>
{% endblock %}